@import "./../../sass/mixins";
@import "./../../sass/variable";

.search {
  display: inline-block;
  font-family: $font-para;
  font-weight: 700;
  font-size: 1.4rem;
  color: $color-black;
  background-color: rgba($color-yellow, 0.5);
  padding: 1.5rem 2rem;
  margin: 3rem 0;
  border-radius: 1rem;
  border: 2px solid $color-purple;

  &:focus {
    outline: none;
    background-color: rgba($color-yellow, 1);
  }
}
