@import "./sass/mixins";
@import "./sass/variable";

.app {
  text-align: center;
}

.heading {
  font-family: "Bigelow Rules", cursive;
  font-size: 10rem;
  color: $color-white;
  padding-top: 2rem;
}